@page "/documents"
@using System.Globalization
@using Humanizer
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IConfiguration Configuration
@inject ApiClient ApiClient

<PageTitle>Documents</PageTitle>

<form method="post" @onsubmit="Submit" class="input-validation-required">
    <wa-input name="name" label="Name" required @bind="Model!.ApiKey"></wa-input>
    <br />
    <wa-button type="submit" variant="brand">Submit</wa-button>
</form>

@if (_documents is not null)
{
    <br />
    <div class="wa-grid">
        @foreach (var document in _documents)
        {
            <wa-card class="card-media">
                <div slot="media" class="wa-frame:landscape">
                    <img
                        src="@Configuration["CloudFrontHost"]/@(document.DocumentId).webp"
                        alt="@document.DocumentId"
                    />
                </div>
                <small>
                    @document.InsertedDate.ToString("yyyy-MM-dd")
                    @document.ContentLength.Bytes().ToString("#.#0", CultureInfo.InvariantCulture)
                </small>
            </wa-card>
        }
    </div>
}

@code {

    [SupplyParameterFromForm]
    private AuthModel? Model { get; set; }

    private IQueryable<Document>? _documents;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new();

        var apiKey = await LocalStorage.GetItemAsStringAsync("ApiKey");

        if (!string.IsNullOrWhiteSpace(apiKey))
        {
            Model.ApiKey = apiKey;
        }
    }

    private async Task Submit()
    {
        var apiKey = Model!.ApiKey;
        _documents = (await ApiClient.GetDocuments(apiKey)).AsQueryable();

        await LocalStorage.SetItemAsStringAsync("ApiKey", apiKey);
    }

    public class AuthModel
    {
        public string ApiKey { get; set; } = "";
    }
}
